@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.heading-dark {
    color: aqua;
    font-size: 3rem;
    text-align: center;
    margin: 2rem;
    font-family: 'Anton', sans-serif;
}
.heading-light {
    color: 1;
    font-size: 3rem;
    text-align: center;
    margin: 2rem;
    font-family: 'Anton', sans-serif;
}