.heading-dark {
    color: aqua
}
.heading-light {
    color: blue;
}
.questions-num-dark {
    color: white;
    text-align: center;
}
.questions-num-light {
    color: rgb(0, 42, 255);
    text-align: center;
}