@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
.questions {
    color: #05ef63;
    margin-left: 4rem;
}
thead {
    margin: 2rem;
    border-radius: 2rem;
}
.headings-dark {
    color: aqua;
    margin: 1rem;
    border-radius: 2rem;
    font-family: 'Roboto Mono', monospace;   
}
.headings-light {
    color: black;
    margin: 1rem;
    border-radius: 2rem;
    font-family: 'Roboto Mono', monospace;
}
.table-light {
    background-color: red;
}
.table-dark {
    background-color: #0E1C25;
}
.tableheading-dark {
    color: aqua;
    font-size: 3rem;
    text-align: center;
    margin: 2rem;
   
}
.tableheading-light {
    color: black;
    background-color: white;
    font-size: 3rem;
    text-align: center;
    margin: 2rem;
}
@media only screen and (min-width: 768px) {
.questionlinks-dark {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 3rem;
    /* background-color: #070611; */
    padding: 1rem;
}
.questionlinks-light {
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 3rem;
    background-color: #ffffff;
    /* border-color: #ffffff; */
    padding: 1rem;
}
}
@media only screen and (max-width: 600px) {
.questionlinks-dark {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 3rem;
    /* background-color: #070611; */
    padding: 1rem;
}
.questionlinks-light {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 3rem;
    background-color: #ffffff;
    /* border-color: #ffffff; */
    padding: 1rem;
}
}
@media only screen and (min-width: 600px) {
.questionlinks-dark {
    margin-left: 2.3rem;
    margin-right: 2.3rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 3rem;
    /* background-color: #070611; */
    padding: 1rem;
}
.questionlinks-light {
    margin-left: 2.3rem;
    margin-right: 2.3rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 3rem;
    background-color: #ffffff;
    /* border-color: #ffffff; */
    padding: 1rem;
}
}
.questions {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    
}
.donebox {
    text-align: right;
    height: 1rem;
    width: 1rem;
}
tr,th {
    padding: 1rem;
    font-size: 1.5rem;
    border: 2px solid rgb(0, 0, 0);
}
.rows-light {
    color: white;
}
.rows-dark {
    color: white;
}
.difficulty-dark {
    color: #05ef63;
    margin-left: 7rem;
    font-family: 'Roboto Mono', monospace;
}
.difficulty-light {
    color: #070611;
    margin-left: 7rem;
    font-family: 'Roboto Mono', monospace;
}
@media only screen and (max-width: 720px) {
    .questionlinks {
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
        
    }
    .questions {
        font-size: 1.2rem;
        margin-left: 0rem;
    }
    
    .tableheading-dark {
        font-size: 2.5rem;
    }
    .tableheading-light {
        font-size: 2.5rem;
    }
    tr,th {
        padding: 0.2rem;
        font-size: 1.3rem;  
    }
  }

  @media only screen and (max-width: 720px) {
    .questionlinks {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .questions {
        font-size: 0.8rem;
        margin-left: 0rem;
    }
    
    .tableheading-dark {
        font-size: 2rem;
    }
    .tableheading-light {
        font-size: 2rem;
    }
    tr,th {
        padding: 0.1rem;
        font-size: 0.9rem;  
    }
  }