/* Alert.css */

.alert-container {
    position: fixed; 
    top: 1.3vh; 
    left: 25vw;
    transform: translate(-50%, -50%); 
    z-index: 1050;
    width: 50vw;
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.alert-content {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 0.9rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    opacity: 1;
}

.slide-down {
    transform: translateY(20px);
    opacity: 1;
}

.slide-up {
    transform: translateY(-100%);
    opacity: 0;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

.alert-deselect {
    background-color: #fff3cd;
    color: #856404;
}
