@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.card-dark {
    background-color: #070611;
    margin: 5rem;
    border-radius: 2rem;
    padding: 1rem;
  box-shadow: #14E294;
  transition: transform 0.8s;
}

.btn-dark {
    background-color:  blue;
    color: #121D28;
    width: 6rem;
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    font-weight: bold;
    border-color: #05ef63;
    transition: transform 1s;
}
.btn-dark:hover {
    /* background-color: #06E3E2; */
    width: 6rem;
    transition: 0.7s;
    color: #121D28;
}
.card-dark:hover {
    transform: scale(1.05);
    box-shadow: rgba(40, 216, 232, 0.922) 0px 14px 28px, rgba(59, 248, 188, 0.996) 0px 10px 10px;
 }
.card-dark-title {
    color: #06E3E2;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.card-dark-text {
    color: white;
    font-weight: bold;  
    font-family: 'Roboto', sans-serif; 
}


.card-light {
    border-color: #070611;
    background-color: #c4eef5;
    color: #070611;
    margin: 5rem;
    border-radius: 2rem;
    padding: 1rem;
  box-shadow: #14E294;
  transition: transform 0.8s;
}

.btn-light {
    background-color:  #4dbce4;
    height: 1.8rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0c1e30;
    border-radius: 0.5rem;
    font-weight: bold;
    border-color: #000000;
    transition: transform 1s;
    text-decoration: none;
}
.btn-light:hover {
    /* background-color: #06E3E2; */
    width: 6rem;
    transition: 0.7s;
    color: #121D28;
}
.card-light:hover {
    transform: scale(1.05);
    box-shadow: rgb(11, 234, 182) 0px 10px 20px, rgb(3, 254, 183) 0px 6px 6px;
}
.card-light-title {
    color: blue;
    font-weight: bold;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.card-light-text {
    color: #070611;
    font-weight: bold;  
    font-family: 'Roboto', sans-serif; 
}
